<p id="notice"><%= notice %></p>

<h1>Fibs</h1>

<table>
  <thead>
    <tr>
      <th><h3>Space</h3></th>
      <th><h3>Sequence</h3></th>
      <th><h3>Sum of Squares</h3></th>
      <th><h3>Actions</h3></th>
    </tr>
  </thead>

  <tbody>
    <% @fibs.each do |fib| %>
      <tr>
        <td><%= fib.space %></td>
        <td><%= fib.generated_fibs %></td>
        <td><%= fib.known_fibs_sum_of_squares %></td>
        <td><%= link_to 'Show', fib %></td>
        <td><%= link_to 'Edit', edit_fib_path(fib) %></td>
        <td><%= link_to 'Destroy', fib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fib', new_fib_path %>
