<p id="notice"><%= notice %></p>

<p>
  <strong>Max number:</strong>
  <%= @fib.max_number %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @fib.sequence %>
</p>

<p>
  <strong>Squares:</strong>
  <%= @fib.squares %>
</p>

<%= link_to 'Edit', edit_fib_path(@fib) %> |
<%= link_to 'Back', fibs_path %>
