<p id="notice"><%= notice %></p>
Sequence:
<p>
  <%= @fib.generated_fibs %>
</p>

Sum of Squares:
<p>
  <%= @fib.known_fibs_sum_of_squares %>
</p>

<%= link_to 'Edit', edit_fib_path(@fib) %> |
<%= link_to 'Back', fibs_path %>
